<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products" >
            <!-- will automatically serve the image once the image is under assets dir -->
            <td><img src="{{ tempProduct.imageUrl }}" alt="{{ tempProduct.name }}" height="50"></td>
            <td>
                {{ tempProduct.name }}
            </td>
            <td>{{ tempProduct.unitPrice | currency: "USD" }}</td>
            <td>{{ tempProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table>

<!-- "products" -> property name of Product[] from product-list.component.ts -->
<!-- <p *ngFor="let tempProduct of products">
    {{ tempProduct.name }}: {{ tempProduct.unitPrice | currency: "USD" }}
</p> -->